<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Wlecome to {{ user.name }} page</title>
    <link href="//netdna.bootstrapcdn.com/bootswatch/3.0.0/united/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div>{{ user }}</div>
</div>
</body>
</html>
